# Server Configuration
PORT=4005
NODE_ENV=development

# Database Configuration
DB_HOST=event-mysql
DB_USER=root
DB_PASSWORD=MiContraseñaSegura123!
DB_NAME=don_papa

# JWT Configuration
JWT_SECRET=tu_super_secreto_jwt_development_very_secure_key_12345
JWT_REFRESH_SECRET=tu_super_secreto_jwt_development_very_secure_key_12345

# Internal Service Token
INTERNAL_SERVICE_TOKEN=variablegenerica

# Inventory Service
INVENTORY_SERVICE_URL=http://inventory-service-app:4001/api
